# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/
*.jsonl

# Large outputs
outputs/ranking_v1.csv
outputs/job_aware_ranking.csv
outputs/semantic_ranking.csv
outputs/hybrid_ranking.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db